@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.bg-primary-gradient {
  background: linear-gradient(89.71deg, #f5bd4de7 0.36%, #f89222 99.88%);
}
.bg-deep-dark {
  background-color: #121414;
  color: #fff;
}
.bg-gray-dark {
  background-color: #171b1a;
  color: #fff;
}
.bg-light-gray {
  background-color: rgba(39, 39, 39, 0.687);
}
.bg-primary {
  background-color: #f89222;
}
.menu-item {
  transition: all 0.6s;
}
.menu-item.active-menu {
  fill: #f89222;
}
.menu-item:hover {
  fill: #f89222;
}
.bg-primary-dark {
  background-color: #f892224d;
}
.text-primary {
  color: #f89222;
}

.gradient-text {
  background: linear-gradient(89.71deg, #f5bd4d 0.36%, #f89222 99.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: color 0.3s ease, -webkit-text-fill-color 0.3s ease;
}

.gradient-text-hover:hover {
  -webkit-text-fill-color: white; /* Make text white */
}

.top-shadow {
  box-shadow: 0 -1px 6px -2px rgba(255, 255, 255, 0.4);
}
.rotated-text {
  display: inline-block;
  white-space: wrap;
  transform: rotate(90deg);
}

.active_project_bar {
  background: linear-gradient(89.71deg, #f5bd4d 0.36%, #f89222 99.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  border-bottom: 4px solid #f89222;
}
.project_bar_shadow {
  box-shadow: 0 1px 8px 8px rgba(255, 255, 255, 0.1);
}
.blog-btn {
  position: relative;
}

.blog-btn::before {
  background-color: #f89222;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 30px;
}
.blog-btn::after {
  background-color: #f89222;
  content: "";
  height: 1px;
  right: 0;
  position: absolute;
  top: 12px;
  width: 30px;
}
.price-badge {
  position: relative;
}
.price-badge-intro::before {
  content: "Intro";
  width: 90px;
}
.price-badge-base::before {
  content: "Base";
  width: 90px;
}
.price-badge-populer::before {
  content: "Populer";
  width: 110px;
}
.price-badge-enterprise::before {
  content: "Enterprise";
  width: 120px;
}
.price-badge::before {
  background: linear-gradient(
    89.71deg,
    rgba(245, 189, 77, 0.3) 0.36%,
    rgba(248, 146, 34, 0.3) 99.88%
  );

  height: 45px;
  left: 0;
  position: absolute;
  top: 46px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
}
.input-border {
  border: 0.5px solid rgba(245, 189, 77, 0.406);
}
.input-border:focus {
  border: 0.5px solid #f89222;
  outline: none;
}










